### General ###
*.log
*.tmp
*.DS_Store
*.swp
Thumbs.db

### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar  # Ensure wrapper is not ignored
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse/STS (Spring Tool Suite) ###
.classpath
.project
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
!**/src/main/**/build/
!**/src/test/**/build/

### Visual Studio Code ###
.vscode/

### OS-specific ###
*.bak
*~

